* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {}

.container {
  width: 82%;
  margin: auto;
}

/*header*/
header {
  line-height: 80px;
}

.header-left {
  width: 60%
}

.v-align {
  vertical-align: middle;
}

.header-right {
  width: 40%;
}

.f-left {
  float: left;
}

.header-left nav {
  display: inline-block;
}

.header-left nav ul {
  margin-left: 40px;
}

.header-left ul li {
  display: inline-block;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 15px;
  padding: 15px 15px 15px 0;
}

.header-right ul {
  list-style-type: none;
}

.header-right ul li {
  float: right;
}

.header-right ul li a {
  padding: 5px 15px;
  margin-left: 15px;
}

.button {
  border-radius: 10px;
}

.whitebtn {
  border: 1px solid white;
}

.greenbtn {
  background-color: yellowgreen;
}

/*hero*/
.hero img {
  height: 100%;
  transform: translateX(20%);
}

.hero h3 {
  color: white;
}

/*intro*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro div.absolute {
  width: 60%;
}

.intro div.absolute h3 {
  margin-bottom: 8px;
}

/*main*/
/*main-top*/
.main-top {
  padding-top: 30px;
}

.main-top section.w-31 {
  width: 31%;
  margin-right: 3.5%;
}

.main-top section:last-child {
  margin-right: 0;  
}

.main-top section .fig {
  height: 150px;
}

.main-top section .fig.fig-left {
  background: url('img/profile.svg') no-repeat center;
}

.main-top section .fig.fig-middle {
  background: url('img/computer.svg') no-repeat center;
}

.main-top section .fig.fig-right {
  background: url(img/doc.svg) no-repeat center;
}

.main-top section * {
  margin-bottom: 30px;
}

.main-top section h3 {
  color: rgb(139, 194, 32);
}

hr {
  margin: auto;
}

.hr20 {
  width: 20%;
}

.hr98 {
  width: 98%;
}

/*main-bott*/

/*footer*/
footer {
  height: 140px;
  line-height: 140px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  float: right;
}

footer ul li a, div.fixed a {
  padding: 15px 15px;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 15px;
}

footer ul li label {
  margin-right: 10px;;
}

div.fixed {
  position: fixed;
  bottom: 8px;
  right: 200px;
}

div.fixed a {
  padding-top: 8px;
  padding-bottom: 20px;
}

/*Utilities*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*.border {
  border: 1px solid black;
}*/

.txt-cen {
  text-align: center;
}

.bg-header {
  background-color: blue;
}

.bg-intro, .bg-footer {
  background-color: rgb(211, 211, 211);
}

.bg-main {
  background-color: white;
}

.h-50 {
  height: 50px;
}

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100px;
}

.h-120 {
  height: 120px;
}

.h-400 {
  height: 400px;
}

.h-450 {
  height: 450px;
}

.h-vh {
  height: 100vh;
}
.w-50 {
  width: 50%;
}

.white {
  color: white;
}

.grey {
  color: grey;
}